.backgroundCData{
    height: 300px;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudoTexto{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100px;
    background-color: black;
    order: 1;
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conteudoImg{
    
    height: 150px;
    width: 150px;
    background-color: rgb(170, 163, 104);
    border-radius: 50%;
    order: 2;
    margin: auto;
    opacity: 0.5;

}
body{
    margin: auto;
    padding: auto;
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: center;
}